body{
    background-color: rgb(209, 141, 209);
}
div.container{
border-style: double;
/* position: relative; */
/* bottom: 10px; */
/* left:40px; */
width: 90%;
min-height: fit-content;
padding-left: 50px;
/* height: 650px; */
background-color: rgb(171, 243, 236);
}
p.title{
color: whitesmoke;
font-size: 40px;
font-weight: bold;
position: relative;
padding: 5%;

}
div.title{
background-color: black;
color: whitesmoke;
height: 160px;
width: 85%;
position: relative;
bottom: 40px;
}
div.content{
    padding: 3%;
}
button{
    width: 150px;
    height: 50px;
}
div.voting{
    position: relative;
    bottom: 20px;
    left: 40px;
    font-size: 20px;
    padding: auto;  
}
h1.vote{
    position: relative;
    left: 45px;
}
div.radioBtn{
    display: flex;
    flex-direction: column;
}